*.class
*.html~

Generated/DirtyMecanums/dist/FRCUserProgram.jar

Generated/DirtyMecanums/sysProps.xml

*.java~

*.java~

Generated/DirtyMecanums/src/org/usfirst/frc3932/OI.java~

*.java~

*.java~

*.java~

*.java~

Generated/DirtyMecanums/build/jars/NetworkTables.jar

Generated/DirtyMecanums/build/jars/WPILib.jar
